<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>3AKXFMV43J</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>io.cozy.flagship.mobile.mabulle</key>
        <string>amiral-mabulle-ci-profile</string>
        <key>io.cozy.flagship.mobile.mabulle.CozyShare</key>
        <string>amiral-mabulle-share-ci-profile</string>
    </dict>
</dict>
</plist>
