<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmgnkRkAccVd0F2GIhrgcLBUKpdMC8EDw</string>
	<key>GCM_SENDER_ID</key>
	<string>761843577340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cozy.flagship.mobile.mabulle</string>
	<key>PROJECT_ID</key>
	<string>cozy-flagship-app-push-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cozy-flagship-app-push-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761843577340:ios:9e612a4aadb27225c8c279</string>
</dict>
</plist>
