name: Quality Checks

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality_checks:
    name: Quality Checks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
        cache: 'yarn'

    - name: Install dependencies
      run: yarn --frozen-lockfile

    - name: Lint
      run : yarn lint

    - name: Test
      run: yarn test

    - name: Typecheck
      run: yarn typecheck

    - name: Validate Locales
      run: yarn validate:locales

    - name: Validate Cozy brand (should mirror src)
      run: yarn brand:check
